.mais_backdrop{
    width: 100vw; height: 100vh; position: fixed; top: 0px; background: rgba(0, 0, 0, 0.256); left: 0px;
}

.mais_div{
    width: 60vw; height: 100vh; position: fixed; top: 0px; right: 0px; background: #fff;
}

@keyframes slide_right {
    100%{
        right: 0px
    }0%{
        right: -200px
    }
}

@keyframes slide_left {
    100%{
        right: -200px
    }0%{
        right: 0px
    }
}

.slide_right{
    animation: slide_right 1s;
}

.slide_left{
    animation: slide_left 1s;
}