<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Meus manuais</ion-label>
    </ion-tab-button>

<!--     <ion-tab-button (click)="openPainel()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Painel</ion-label>
    </ion-tab-button> -->
    
    <ion-tab-button (click)="openMais()">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>

    <!-- tab="tab3" -->
    


  </ion-tab-bar>

</ion-tabs>


<div id="mais"  class="mais_backdrop" (click)="closeMais()" style="display: none; z-index: 9">
  <div id="mais_div"  class="mais_div slide_right" style="z-index: 10"> 
    <img src="./assets/logo.png" style="width: 50%; margin: 10px auto; display: table;">

    <div style="padding-top: 50px;">
      <ion-list>
        <ion-item (click)="sobre()">
          Sobre Alado Metalurgica
        </ion-item>
  
        <ion-item (click)="pesquisa()">
          Pesquisa de satisfação
        </ion-item>
  
        <ion-item (click)="termos()">
          Termos de uso
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>