ion-content ion-toolbar {
  --background: translucent;
}


a.categoria{
  height: 50px;
  color: #dcdcdc
}

a.categoria.selected{
  border-bottom: 2px solid #165a95;
  color: #165a95;
  font-weight: 500;
}