<ion-header *ngIf="this._platform.is('android')" [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <img src="./assets/logo.png"
      style="padding-top: 10px; padding-bottom: 10px; width: 25%; margin: auto; display: table;">
    <ion-title>
      <ion-item style="height: 30px; width: 99%; margin: auto; border-radius: 35px;">
        <ion-input style="position: relative; bottom: 10px;" placeholder="Código / Nome" [(ngModel)]="searchKeyword"
          (keydown.enter)="filter()">
          <ion-icon name="search"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-title>

    <span style="margin: auto; display: table; padding: 10px; color: #67b8ff">Produtos</span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" color="primary" style="position: sticky; top: 0; z-index: 9999;">
    <ion-toolbar color="primary">
      <img src="./assets/logo.png"
        style="padding-top: 10px; padding-bottom: 10px; width: 25%; margin: auto; margin-top: 10%; display: table;">

      <ion-searchbar style="padding-bottom: 0px !important; line-height: 45px; height: 40px; border-radius: 35px; background: #fff; color: #212121"
        placeholder="Código / Nome" [(ngModel)]="searchKeyword" (keydown.enter)="filter()"></ion-searchbar>

      <span style="margin: auto; display: table; padding: 10px; color: #67b8ff">Produtos</span>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="1.5" pullMin="100" pullMax="200">
    <ion-refresher-content color="primary" pullingIcon="arrow-dropdown" pullingText="Arraste para carregar"
      refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <div
    style="background: #fff; width: 100%; height: 50px; display: table; margin: auto; position: sticky; z-index: 9999;" [ngStyle]="{top: _platform.is('ios') ? '135px': '0px'}">
    <a (click)="this.categoriaSelected = this.categorias[i]; this.categoriaIndex = i"
      *ngFor="let categoria of categorias; let i = index" class="categoria"
      [ngStyle]="{width: (categoriaItemSize + '%')}" [ngClass]="{selected: this.categoriaIndex == i}"
      style="display: inline-table; text-align: center; line-height: 45px;">
      {{categoria.cat_nome}}
    </a>
  </div>

  <!-- <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let categoria of categorias; let i = index"> -->
  <div *ngIf="!this.loading && items.length > 0">
    <ion-card mode="ios" *ngFor="let i of categoriaSelected.items; let _index = index">
      <ion-card-header>
        <ion-card-title>
          <span style="color: #165a95">{{i.item_nome}}</span>
        </ion-card-title>
        <ion-card-subtitle>
          {{i.item_descricao}}
        </ion-card-subtitle>
        <small>Código: {{i.item_codigo}}</small>
      </ion-card-header>
      <ion-card-content>
        <img [src]="i.imageURL" />

        <ion-button (click)="downloadPDF(i, $event)" *ngIf="!i.downloading" shape="round" expand="full"
          style="margin-top: 30px">
          {{i.pdfURL !== undefined ? 'Visualizar Manual': 'Baixar Manual'}}
          &nbsp;
          <ion-icon name="cloud-download-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="i.downloading" [disabled]="i.downloading" shape="round" expand="full"
          style="margin-top: 30px">
          Baixando...
          &nbsp;
          <ion-icon name="code-download-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card mode="ios" *ngIf="this.items.length < 1 && !this.loading" style="margin-top: 20%">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="information-circle-outline"
          style="color: #212121; font-size: 62px; margin: auto; display: block;">
        </ion-icon>
      </ion-card-subtitle>
      <ion-card-title>
        <small style="font-size: 12px; margin: auto; display: table; color: #212121">Nenhum item cadastrado</small>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card mode="ios" *ngIf="getItemsError">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="alert-outline" style="color: #212121; font-size: 62px; margin: auto; display: block;">
        </ion-icon>
      </ion-card-subtitle>
      <ion-card-title>
        <small style="font-size: 12px; margin: auto; display: table; color: #212121">Ocorreu um erro tente
          novamente</small>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="full" fill="outline" color="primary" style="margin-top: 45px;">
        <ion-icon name="refresh"></ion-icon>
        Tentar novamente
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!-- </ion-slide>
  </ion-slides> -->

  <div *ngIf="this.loading && this.items.length < 1" style="margin-top: 10%">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 38%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    </div>

    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 83%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 5%"></ion-skeleton-text>
    </div>
  </div>

  <!-- <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais items...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>