<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Termos de condições</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this._modalController.dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/logo.png" style="width: 25%; margin: 5px auto; display: table;">

  <div style="width: 95%; display: table; margin: auto; ">
    <p style="padding: .5px; text-align: justify;" *ngFor="let termo of termos">{{termo}}</p>
  </div>
</ion-content>