<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this._modalController.dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" style="padding: 10px">
    <div class="col-xs-12 col-sm-9 col-md-9">
      <div class="wpb-intro">
        <h3 class="wpb-intro-title" style="font-size:25px;color:#709bc8;">Fundação</h3>
        <div style="font-size:18px;">
          <p>A Metalúrgica Alado, há mais de 50 anos no mercado de peças de reposição para máquinas de lavar roupas,
            está sempre em busca da melhoria da qualidade de seus produtos, focando-se nas questões ambientais e na
            formação de seu pessoal, atingindo assim a confiabilidade de sua marca, mantendo-se líder em seu segmento de
            mercado.</p>
          <p>A Metalúrgica Alado nasceu no mês de Maio de 1969, no bairro do Cambucí em São Paulo. Foi criada
            inicialmente por quatro sócios, um deles o Sr. Vitaliano José Michelini, mais tarde vindo a se tornar o
            único sócio proprietário.</p>
          <p>Em 1980 a empresa mudou-se para a região de Santo Amaro, local em que se situa até hoje em sede própria,
            mesmo ano em que os filhos do Sr.Vitaliano assumiram a empresa dando continuidade aos projetos e processos
            que ele havia iniciado.</p>
          <p>Desde o ano de 1985 a empresa vem mostrando um grande crescimento. A partir de 1995, com a filosofia de
            constante aperfeiçoamento, A Metalúrgica Alado investiu em tecnologia de ponta permitindo assim a melhora
            nos processos de fabricação e produtos, verticalizando as operações até então terceirizadas, como injeção
            plástica, injeção de alumínio, banho de cromo duro e níquel, garantindo um alto grau de confiabilidade sendo
            reconhecida como uma empresa ética, comprometida e responsável.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3" style="display: table; margin: auto;">
      <div class="intro-image" style="padding-top:20px;">
        <p><img src="./assets/133814bd4f5f3bcf69294d0aa64b49ba20200204042627.jpg" alt=""
            class="img-responsive"></p>
      </div>
      <div class="wpb-intro">
        <p style="color:#709bc8;" align="center">Homenagem ao Fundador<br>Sr. Vitaliano José Michelini</p>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12">
      <hr>
      <div class="wpb-intro">
        <h3 class="wpb-intro-title" style="font-size:25px;color:#709bc8;">Empresa</h3>
        <p align="justify">
          <img src="../painel/arquivos/ae950ecbbe6eb24efe8e5a68c7c77e6420200204042706.jpg" alt="" class="img-responsive"
            style="float:left; margin-right: 20px;">
        </p>
        <div style="font-size:18px;">
          <p>O Sr. Vitaliano José Michelini era neto e filho de imigrantes italianos. Seu avô Vitaliano Michelini e seu
            pai José Michelini, ao chegarem ao Brasil, juntos abriram a empresa "Relógios Michelini" em 1909, que
            fabricava relógios para torres de Igrejas e fachadas de comércio. A Relógios Michelini produziu mais de 1200
            relógios que estão espalhados por todo o Brasil e alguns países da América Latina, entre os mais conhecidos
            estão, o da Estação da Luz e do antigo Mappin no centro da cidade de São Paulo, e como a maioria das
            empresas familiares da época, passou para o neto Sr. Vitaliano. Devido a grande qualidade dos relógios e a
            baixa necessidade de manutenção dos mesmos, fez com que a empresa encerrasse sua atividades no ano de 1969 e
            em seguida no mesmo ano o Sr. Vitaliano José Michelini junto com mais 3 sócios fundaram então a Metalúrgica
            Alado LTDA.</p>
        </div>
        <p></p>
      </div>
    </div><br>

    <div class="col-xs-12 col-sm-12 col-md-12"><br>
      <hr>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="wpb-intro">
          <h3 class="wpb-intro-title" style="font-size:25px;color:#709bc8;">Missão</h3>
          <div style="font-size:18px;">
            <p>Atender as carências do mercado de eletrodomésticos, com a responsabilidade de fornecer peças e
              equipamentos diferenciados através da conciliação entre preço e alto padrão de qualidade.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="wpb-intro">
          <h3 class="wpb-intro-title" style="font-size:25px;color:#709bc8;">Visão</h3>
          <div style="font-size:18px;">
            <p>Diferenciar-se em seu seguimento como uma empresa ética, com ações competitivas, e que busca o equilíbrio
              entre a qualidade e o aprimoramento de seus produtos, a fim de conquistar o mercado de distribuição de
              peças para máquinas de lavar nos próximos anos.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="wpb-intro">
          <h3 class="wpb-intro-title" style="font-size:25px;color:#709bc8;">Valores</h3>
          <div style="font-size:18px;">
            <ul class="list-check mb30">
              <li><i class="fa fa-check color" aria-hidden="true"></i> Inovação</li>
              <li><i class="fa fa-check color" aria-hidden="true"></i> Sustentabilidade</li>
              <li><i class="fa fa-check color" aria-hidden="true"></i> Comprometimento</li>
              <li><i class="fa fa-check color" aria-hidden="true"></i> Valorização das Pessoas</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</ion-content>