<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Pesquisa de Satisfacao</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this._modalController.dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.alreadyDid == false">

  <div *ngFor="let pergunta of questoes" style="width: 90%; margin: 5px auto; display: table;">
    <span style="font-weight: bold; font-size: 16px;">{{pergunta.titulo}}</span>

    <ion-item class="ion-no-padding" *ngFor="let grau of pergunta.grau" style="margin-top: 10px;">
      <ion-label style="font-size: 12px;">{{grau.titulo}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="grau.value" (click)="select(pergunta, grau)"></ion-checkbox>
    </ion-item>
  </div>

  <div style="width: 90%; margin: 5px auto; display: table;">
    <span style="font-weight: bold; font-size: 16px;">Possui alguma sugestão para os proximos produtos?</span>
    <ion-item style="margin-top: 10px; width: 100%;">
      <ion-textarea placeholder="Digite o texto aqui..." [(ngModel)]="sugestao"></ion-textarea>
    </ion-item>
  </div>

  <ion-button (click)="enviar()" style="width: 95%; margin: 20px auto; display: table;">
    Enviar
  </ion-button>

</ion-content>

<ion-content *ngIf="this.alreadyDid == true">
  <div style="width: 90%; margin: auto; display: table;">
    <h4 style="margin: 5% auto">Agradecemos você pela realização!</h4>
    <hr style="margin-bottom: 10px; margin-top: 10px; background: #ececec; display: table; margin: auto; width: 60%;">
    <div style="margin-top: 10px; color: #b9b9b9">
      <span> A pesquisa já foi realizada, agradecemos por você ter preenchido! </span>
      <br>
      <br>
      <span>Sua colaboração irá nos ajudar a melhorar nossos serviços, a cada dia que passa.</span>
      <br>
      <br>
      <span>Sua participação foi essencial! Muito obrigado</span>
    </div>
  </div>

  <img src="./assets/logo.png" style="display: table; margin: 10px auto; width: 35%;" />
</ion-content>